<% include ../shared/header.ejs %>

<br><div class="well">
  <h1><%= description.Title %> </h1>
  <b>Description: </b><%= description.Plot %><br>
  <b>Rating: </b>
  <% for (var i = 0; i < rating; i++) { %>
    <b>*</b>
  <%  }; %><br>
  <b>RT Rating: </b><%= description.tomatoRating %><br>
  <b>RT Meter: </b><%= description.tomatoMeter %><br>
  <b>RT Consensus: </b><%= description.tomatoConsensus %><br>
</div>

<% include ../shared/footer.ejs %>